#root {
	margin: 0 auto;
	text-align: center;
}

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.mapContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.themeContainer {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	left: 0;
	gap: 0.5em;
	z-index: 1000;
	margin: 15px;
}

.map-background {
	display: flex;
	position: absolute;
	bottom: 1rem;
	right: 0;
	z-index: 1000;
	justify-content: center;
	align-items: center;
	color: black;
}

.map-background__wrap {
	font-size: 0.9em;
	font-weight: 500;
}

.map-background__wrap input {
	color-scheme: light;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
