.directions-container {
    border-radius: 2em;
    transition: height 0.3s ease;
    padding: 1rem; /* Adds padding inside the container */
}

.directions-container.expanded {
    height: auto; /* Expands to the content size */
}

.directions-container .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--ui-bg-color);
    border-bottom: 1px solid var(--border-color);
}

.directions-container .header p {
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    flex-grow: 1;
}

.expand-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: var(--icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.expand-button:hover {
    background-color: var(--hover-bg-color);
}

.directions-container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: var(--text-color);
    overflow-y: auto;
    max-height: calc(100% - 2rem);
}

.directions-container .content p {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    margin: 0.5rem 0;
    line-height: 1.4;
}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    margin-right: 0.5rem;
}

.back-button:hover {
    background-color: var(--hover-bg-color);
}
