.resultsbox {
	transition: margin-top 0.5s;
}

.resultsbox > div {
	width: 100%;
}
.selected > .resultsbox {
	margin-top: -2em;
}

button.back {
	background: none;
	color: white;
	border: none;
	/* padding: 1em; */
	/* border-radius: 100%; */
}

button.quit {
	background-color: #e85151;
	color: white;
	border: none;
	border-radius: 100%;
	padding: 0.35em;
	aspect-ratio: 1;
	display: flex;
}
