.container {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--ui-bg-color);
    width: 8rem;
    height: 5rem;
    border-radius: 2em;
    padding: 0.2em;
}

.time-distance {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.time-distance p {
    font-weight: bold;
}
